.date-input {
    background-color: #e9ebec;
    border-radius: 20px 20px 0 0;
    border: none;
    border-bottom: 2px solid #1554F6;
}

.date-input:focus {
    background-color: #e9ebec;
    border-bottom: 2px solid #1554F6 !important;
    box-shadow: none !important; 

}
.add-treat-btn{
    background-color: #03A9F4;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.add-new{
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}