.scrollable-table-container {
    max-height:90%;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .filter-contact{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .add-user-contact{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .loader {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-sizing: border-box;
    border-top: 8px solid #f7bf47;
    border-left: 8px solid #fff;
    border-right: 8px solid #f7bf47;
    animation: loader .7s infinite linear;
  }
  
  @keyframes loader {
    to {
      transform: rotate(360deg);
    }
  }